<!--<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a  [routerLink] = "['/home']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" [routerLink]="['/profile']">Profile</a>
          </li>
         
        </ul>
    
      </div>
    </nav>-->



            <div class="col-md-2 col-sm-4 sidebar1">
                <div class="logo">
                    <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
                </div>
                <br>
                <div class="left-navigation">
                    <ul class="list">
                        <h5><strong>WHEREABOUTS</strong></h5>
                        <li><a [routerLink]="['/home']">Dashboard</a></li>
                        <li><a [routerLink]="['/about']">Ng-Table</a></li>
                        <li><a [routerLink]="['/profile']">Dialog</a></li>
                        <li><a [routerLink]="['/register']">Register</a></li>
                        <li><a [routerLink]="['/login']">Login</a></li>
                        <li></li>
                    </ul>

                    <br>

                    <ul class="list">
                        <h5><strong>HOBBIES</strong></h5>
                        <li>Hiking</li>
                        <li>Rafting</li>
                        <li>Badminton</li>
                        <li>Tennis</li>
                        <li>Sketching</li>
                        <li>Horse Riding</li>
                    </ul>
                </div>
        